[user]
  {{- if (index . "git") }}
  email = "{{ .git.email }}"
  {{- else }}
  email = "{{ .chezmoi.username }}@{{ .chezmoi.fullHostname }}"
  {{- end }}
  {{- if (index . "name") }}
  name = "{{ .name }}"
  {{- else }}
  name = "{{ .chezmoi.username }}"
  {{- end }}
  # Assuming you've already generated a GPG keypair, you can use this command
  # to get the public key for one of your active keypairs. Note that it will
  # choose this keypair arbitrarily.
  #
  #   gpg --armor \
  #       --export \
  #       "$( \
  #          gpg --list-secret-keys \
  #              --keyid-format LONG \
  #            | grep expires \
  #            | grep '\[SC\]' \
  #            | awk '{ print $2 }' \
  #            | cut -d '/' -f 2 \
  #       )"
  #
  # If you want to use a specific keypair, run
  #
  #     gpg --list-secret-keys --keyid-format LONG
  #
  # This will print a list of the keys you have installed. Once you find the
  # keypair you're interested in (probably based on the associated email
  # address), look for a string like 'rsa4096/<hex string>' -- for example,
  # `rsa4096/C731AB053A9CF1F3`. The public key is the hexadecimal string after
  # the `/`.
  #
  #     gpg --armor --export C731AB053A9CF1F3
  {{- if (index . "git") }}
  signingkey = "{{ .git.signingkey }}"
  {{- else }}
  # signingkey = ""
  {{- end }}

[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[commit]
  gpgSign = true

[credential]
  {{- if eq .chezmoi.os "darwin" }}
  helper = osxkeychain
  {{- end }}

[filter "lfs"]
  clean = git-lfs clean -- %f
  process = git-lfs filter-process
  required = true
  smudge = git-lfs smudge -- %f

[gpg]
  {{- if eq .chezmoi.os "darwin" }}
  program = /usr/local/MacGPG2/bin/gpg2
  {{- end }}

# @see https://gist.github.com/acfoltzer/4284d240f2787eb1826ec074e08234b5
[init]
  templateDir = "{{ .chezmoi.homedir }}/.config/git/template/"

[merge]
  # @see https://git-scm.com/docs/git-config#git-config-mergeconflictStyle
  conflictstyle = diff3
  # @see https://git-scm.com/docs/git-config#git-config-mergeff
  ff = only

[rerere]
  # @see https://git-scm.com/2010/03/08/rerere.html
  enabled = true

[status]
  showUntrackedFiles = all
